*{
margin:0;
padding:0;
box-sizing: border-box;
background-color:black;
}
#preview{
background-color: rgb(9, 41, 113);
color:aqua;
font-weight: bold;
border-radius: 5px;
border:1px solid lime;
box-shadow: 0 0 10px rgb(255, 255, 255, 0.8);
margin-top: 10px;
padding:4px 8px;
margin-left: 4px;
cursor:pointer;
}
label, #alarmSound,option{
margin:20px 0 0 30px;
background-color: black;
outline:2px solid white;
cursor: pointer;
color:aqua
}
.container{
min-height: 100vh;
max-width: 100vw;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
}
input{
background-color:white;
}

#clock{
font-family: "Orbitron";
font-size: 15vw;
background-image: linear-gradient(180deg,
rgb(119, 99, 253)0%,
rgba(51,197,142,1)50%,
rgb(13, 69, 87)100%);
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
}
.controls{
margin-top: 16px;
}
.button{
font-weight: bold;
border-radius: 5px;
border:none;
color:white;
padding:4px 8px;
margin-left: 4px;
cursor:pointer;
}
.set-alarm{
background-color:#498AF8;
/* box-shadow: 0 0 10px rgb(255, 255, 255, 0.8); */
border:2px solid black;

}
.clear-alarm{
background-color: #ff3860;
/* box-shadow: 0 0 10px rgb(255, 255, 255, 0.8); */
border:2px solid black;

}